*.swo
*.swp
/.tags
/DebugConfig
/EventRecorderStub.scvd
/Listings
/Objects
/bort_mayak.build_log.htm
/.vscode/
/build/
/bin/
/obj/
/svdfiles/
/STM32CubeProjects/
/Migratedprojects/
/Docs & Graphs/Old/
/Utility/*.bin
/Utility/*.map
/Utility/tests.py
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/.idea
